@import url("assets/fonts/Inter-4.0/web/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

p.markdown a {
    color: steelblue;
    text-decoration: underline;
    text-underline: steelblue;
}