.wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.delete {
  cursor: pointer;
  pointer-events: all;
  transition: all ease 0.1s;
}

.deleteHidden {
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: all ease 0.1s;
}

.icon {
  width: 26px;
  height: 20px;
  background-color: white;
  fill: white;
}

.circle {
  cx: 0;
  cy: 0;
  r: 14;
  fill: rgb(175, 59, 59);
}

.edge {
  pointer-events: all;
  stroke: rgba(168, 168, 168, 0.8);
  stroke-width: 2;
  fill: transparent;
  cursor: pointer;
}

.edgeSelected {
  pointer-events: all;
  stroke: rgb(216, 141, 62);
  stroke-width: 3;
  fill: transparent;
  z-index: 100;
}

.edgeNew {
  stroke: rgba(168, 168, 168, 0.4);
  stroke-width: 2;
  fill: transparent;
}
